[submodule "libraries/Percyqaz.Shell"]
	path = libraries/Percyqaz.Shell
	url = https://github.com/percyqaz/Percyqaz.Shell.git
	branch = main
[submodule "libraries/Percyqaz.Common"]
	path = libraries/Percyqaz.Common
	url = https://github.com/percyqaz/Percyqaz.Common.git
	branch = main
[submodule "libraries/Percyqaz.Data"]
	path = libraries/Percyqaz.Data
	url = https://github.com/percyqaz/Percyqaz.Data.git