################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.fake
.fsln
.vscode
**/bin
**/obj
**/nupkg
GAME
