################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

./Percyqaz.Common
./Percyqaz.Flux
./Prelude
./Interlude.Noteskins
./Interlude
./Interlude.Web
./Backbeat
./Interlude.Assets
.vs
**/bin
**/obj
.vscode/settings.json

.fake