################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Tools/obj
/Tools/bin/Debug/net6.0
/Tools/.vs/Tools/v17
/Tools/.vs/Tools/DesignTimeBuild
