################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prelude/obj/Debug
/.vs/Prelude/v16/Server/sqlite3
/.vs
/Prelude/.ionide
/Prelude/.vscode
/Prelude/bin/Debug/netcoreapp2.1
/Prelude/obj
/Prelude-Legacy/obj
/Prelude-Test/bin/Debug/netcoreapp2.1
/Prelude-Test/obj
/packages/Newtonsoft.Json.12.0.1/lib
/packages/Newtonsoft.Json.12.0.1
